<div class="container" ng-controller="MainController as login">


	<form method="post" ng-submit="login.doLogin()">
		Username: <input type="text" name="username" ng-model="login.loginData.username">

		Password: <input type="password" name="password" ng-model="login.loginData.password">

		<button id="loginBtn" type="submit" class="btn btn-success">Login</button>
		
			{{ login.error }}
		
	</form>



</div>