<div class="container" ng-controller="UserCreateController as user">


	<form method="post" ng-submit="user.signupUser()">
		Username: <input type="text" name="username" ng-model="user.userData.username">

		Name: <input type="text" name="name" ng-model="user.userData.name">

		Password: <input type="password" name="password" ng-model="user.userData.password">

		<button type="submit" class="btn btn-primary">Signup</button>

	</form>



</div>